/* navbar */
nav {
    display: flex !important;
    justify-content: center;

    // home menu
    .main-menu {
        li {
            display: inline-block;
            position: relative;
            margin-right: 33px;
            line-height: 1.7;
            z-index: 1;

            @include desktop {
                margin-right: 25px;
            }

            &.has-submenu {
                &::after {
                    content: '\f107';
                    font-family: 'FontAwesome';
                    font-weight: 900;
                    color: $primary-color;
                    margin-left: 2px;
                    transition: $transition;

                    @include tablet {
                        display: none;
                    }

                    @include landscape-phone {
                        display: none;
                    }

                    @include portrait-phone {
                        display: none;
                    }
                }

            }

            a {
                color: $primary-color;
                padding: 20px 0;
                font-weight: 500;
                display: inline-block;
                font-size: 16px;
                text-transform: uppercase;

                &::before {
                    content: '\f111';
                    font-family: 'FontAwesome';
                    font-weight: 900;
                    color: $primary-color;
                    font-size: 6px;
                    position: relative;
                    top: -3px;
                    left: -3px;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;

                    @include landscape-phone {
                        display: none;
                    }

                }
            }

            @include all-desktop {

                // submenu
                .submenu {
                    position: absolute;
                    width: 200px;
                    top: 125%;
                    left: 0;
                    background: $white-color;
                    border: 1px solid $white-color;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;

                    li {
                        display: block;
                        margin-right: initial;

                        a {
                            color: $primary-color;
                            display: block;
                            padding: 7px;
                            width: 100%;

                            &:hover {
                                color: $primary-color;
                            }
                        }

                    }
                }

                &:hover {
                    &.has-submenu {
                        &::after {
                            color: $primary-color;
                        }
                    }

                    a {
                        color: $primary-color;

                        @include tablet {
                            color: $white-color;
                        }

                    }

                    .submenu {
                        top: 115%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.menu-area {
    @include tablet{
        margin-top: 15px;
    }
    @include all-phone{
        margin-top: 15px;
    }
    .logo-area {
        @include screen-360{
            width: 90px;
        }
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        span {
            a {
                color: $primary-color;
                font-size: 18px;
                @include screen-360{
                    margin-right: 10px;
                }
            }
        }

        select {
            border: 0;
            font-weight: 600;

            @include landscape-phone {
                font-size: 14px;
            }
        }
    }
    .menu-area-wraper{
        border-bottom: 1px solid $primary-color2;
        @include tablet{
            border-bottom: 0;
        }
        @include all-phone{
            border-bottom: 0;
        }
    }
}

// phone menu
.mean-container {
    .mean-nav {
        background: $primary-color;

        @include tablet {
            margin-top: 90px;
        }

        @include landscape-phone {
            margin-top: 90px;
        }

        @include portrait-phone {
            margin-top: 100px;
        }
    }

    .mean-bar {
        z-index: 0;

        a.meanmenu-reveal {
            background: $primary-color;
            top: 45px;
            right: 20px !important;

            @include all-phone {
                padding: 5px 5px 5px 5px;
            }
        }
    }
}

.top-nav {
    height: 40px;
    background-color: $primary-color;

    p {
        color: $white-color;
        text-align: center;
        line-height: 40px;
        font-size: 9px;
    }
}